//fonts
$small-text: 1rem;
$subtitle: 1.25rem;
$title-text: 1.5rem;
$header-text: 2rem;
// colors
$global-text-color: #13182C;
$global-white-color: white;
$interactive-color:#2E66E5;
$secondary-text-color: #5C667E;
$secondary-grey:#bdc5d5;
$page-background-color:#f7f8f9;
$nav-background-color:#232940;
$CTA-hover-color:#232940;
$instock-label-color:#158463;
$alert-color:#C94515;