@import '../../styles/partials/variables';

.hero {
    width: 25rem;
    &__intro{
        color: aqua;
    }
    &__title {
        color: blue;
    }
    &__subtitle{
        color: bisque;
    }
    &__container{
        &-content {
            color: red;
            font-size: $small-text;
        }
    }
}