@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__wrapper {
       max-width: 1280px;
       padding: 2rem 1.25rem;
       @include tablet {
           padding: 2rem 2rem;
       }
       @include desktop {
            width: 30rem;
            padding: 2rem 3rem;
       }
    }
    &__intro {
        color: $starwars-blue;
        font-size: $subtitle;
    }
    &__title {
        margin: 1rem 0;
        color: $starwars-yellow;
        font-size: $header-text;
    }
    &__subtitle{
        color: $starwars-yellow;
        font-size: $subtitle;
    }
    &__container {
        margin: 1rem 0;
        text-align: justify;
        line-height: 1.5rem;
        @include flex-box(column, center, center);
        &-content {
            color: $starwars-yellow;
            font-size: $small-text;
        }
    }
    &__link {
        color: $starwars-yellow;
        font-size: $small-text;
    }
    &__btn {
        color: white;
        font-size: $subtitle;
        &:hover {
            color: $starwars-blue;
        }
    }
    &__icon-container {
        @include flex-box(row, space-between, center);
    }
    &__icon--link {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(105%) contrast(104%);
        &:hover {
            filter: invert(71%) sepia(86%) saturate(452%) hue-rotate(152deg) brightness(98%) contrast(91%);
        }
    }
}